<a href="https://colab.research.google.com/github/Bahrombekk/Pandas/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Copy_of_grocery_store_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
!wget https://raw.githubusercontent.com/codeschoolAI/grocery_store/main/products_row.csv

--2023-04-13 05:13:48--  https://raw.githubusercontent.com/codeschoolAI/grocery_store/main/products_row.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1061 (1.0K) [text/plain]
Saving to: ‘products_row.csv.1’

products_row.csv.1  100%[===================>]   1.04K  --.-KB/s    in 0s

2023-04-13 05:13:48 (49.9 MB/s) - ‘products_row.csv.1’ saved [1061/1061]

In [29]:
import pandas as pd

In [30]:
f=pd.read_csv('products_row.csv')# read a csv file with Pandas

In [33]:
f

              Name       Type  Price (USD)  Quantity
0            Apple      Fruit         0.50        10
1           Banana      Fruit         0.25        20
2           Orange      Fruit         0.75        15
3           Grapes      Fruit         1.50         5
4       Watermelon      Fruit         5.00         2
5        Pineapple      Fruit         2.00         3
6            Mango      Fruit         1.00        10
7             Kiwi      Fruit         0.75         8
8             Pear      Fruit         0.50        12
9       Strawberry      Fruit         2.00         4
10      Strawberry      Fruit         2.80         2
11       Blueberry      Fruit         3.00         3
12       Raspberry      Fruit         2.50         5
13      Blackberry      Fruit         2.00         6
14          Tomato  Vegetable         1.00        20
15          Orange      Fruit         0.55        10
16        Cucumber  Vegetable         0.75        15
17          Carrot  Vegetable         0.50        25
18           Onion  Vegetable         0.25        30
19          Garlic  Vegetable         0.10        50
20          Potato  Vegetable         0.50        20
21    Sweet Potato  Vegetable         1.00        10
22        Zucchini  Vegetable         0.75        15
23     Bell Pepper  Vegetable         0.75        12
24        Broccoli  Vegetable         1.50         8
25     Cauliflower  Vegetable         1.75         6
26         Spinach  Vegetable         2.00         4
27         Lettuce  Vegetable         1.25        10
28            Kale  Vegetable         1.50         8
29          Cheese      Dairy         4.60         3
30       Olive Oil        Oil        10.00         3
31      Canola Oil        Oil         8.00         4
32     Coconut Oil        Oil        12.00         2
33     Avocado Oil        Oil        15.00         1
34        Soy Milk      Dairy         3.00         5
35     Almond Milk      Dairy         4.00         4
36          Yogurt      Dairy         2.00        10
37            Milk      Dairy          NaN         8
38          Cheese      Dairy         5.00         5
39          Butter      Dairy         2.50         8
40          Butter      Dairy          NaN         8
41       Ice Cream        NaN         3.00         6
42    Cream Cheese      Dairy         3.00         6
43      Sour Cream      Dairy         1.50        12
44  Whipping Cream      Dairy         4.00         4
45   Half and Half      Dairy         2.00        10
46  Cottage Cheese      Dairy         3.00         6
47            Eggs        NaN         1.50        12

In [32]:
f.head(10)

         Name   Type  Price (USD)  Quantity
0       Apple  Fruit         0.50        10
1      Banana  Fruit         0.25        20
2      Orange  Fruit         0.75        15
3      Grapes  Fruit         1.50         5
4  Watermelon  Fruit         5.00         2
5   Pineapple  Fruit         2.00         3
6       Mango  Fruit         1.00        10
7        Kiwi  Fruit         0.75         8
8        Pear  Fruit         0.50        12
9  Strawberry  Fruit         2.00         4

In [41]:
def get_average_price(f):
  """
  What is the average price of all items in the dataset

  Args:
    df:DataFrame
  """
  a=f['Price (USD)']
  return pd.Series.mean(a)

In [42]:
get_average_price(f)

2.6695652173913045

In [45]:
def get_expensive_price(f):
  """
  What is the most expensive item in the dataret

  Args:
    df:DataFrame
  """
  a=f['Price (USD)']
  return pd.Series.max(a)

In [46]:
print(get_expensive_price(f))

15.0

In [48]:
def get_cheap_price(f):
  """
  What is the least expensive item in the dataset

  Args:
    df:DataFrame
  """
  a=f['Price (USD)']
  return pd.Series.min(a)

In [49]:
get_cheap_price(f)

0.1

In [66]:
def number_of_fruits(f):
  """
  How many fruit items are in the dataset

  Args:
    df:DataFrame
  """
  l=[]
  a=f['Type']
  for i in a:
    if i=='Fruit':
      l.append(i)
  return len(l)

In [67]:
number_of_fruits(f)

15

In [75]:
def number_of_veg(f):
  """
  How many vegetable items are in the dataset

  Args:
    df:DataFrame
  """
  l=[]
  a=f['Type']
  for i in a:
    if i=='Vegetable':
      l.append(i)
  return len(l)

In [78]:
number_of_veg(f)

14

In [87]:
def minimum_of_veg(f):
  """
  Get the minimum item cost of vegetable items in the dataset

  Args:
    df:DataFrame
  """

  a = f["Type"]
  b = f['Price (USD)']
  return b[a== "Vegetable"].min()

In [88]:
minimum_of_veg(f)

0.1

In [91]:
def highest_quantity(f):
  """
  Which item has the highest quantity in stock

  Args:
    df:DataFrame
  """
  a=f['Quantity']
  return pd.Series.max(a)

In [92]:
highest_quantity(f)

50

In [96]:
def highest_quantity_fruits(f):
  """
  How many the highest quantity in fruit type

  Args:
    df:DataFrame
  """
  a=f['Type']
  c=f['Quantity']
  return c[a=='Fruit'].max()

In [97]:
highest_quantity_fruits(f)

20

In [24]:
def lowest_quantity(df):
  """
  Which item has the lowest quantity in stock
  
  Args:
    df:DataFrame
  """

  return

In [99]:
def get_types_of_gracery(f):
  """
  Find out how many types of food there are.

  Args:
    df:DataFrame
  Returns: type of gracery
  """
  a=f['Type']
  
  return pd.Series.unique(a)

In [100]:
get_types_of_gracery(f)

array(['Fruit', 'Vegetable', 'Dairy', 'Oil', nan], dtype=object)